body {
    background-color: #000;
    color: #6d76ca;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

#wallpaper-section {
    background: rgba(40, 40, 40, 0.4);
  backdrop-filter: blur(12px);
  padding: 50px 60px; /* more padding */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 90%;
  text-align: center;
}

img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin: 20px 0;
    border: 3px solid #d8d8d8;
    box-shadow: 0 0 15px #080808;
}

#downloadBtn {
    padding: 10px 20px;
    background: #b8bdb7;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px #2e2e2e;
    transition: all 0.2s ease;
}

#downloadBtn:hover {
    background: #c9bdbd;
    box-shadow: 0 0 20px #00ffff;
}

#description {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
}

#backBtn {
    padding: 10px 20px;
    background: #b8bdb7;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px #2e2e2e;
    transition: all 0.2s ease;
}

#backBtn:hover {
    background: #c9bdbd;
    box-shadow: 0 0 20px #00ffff;
}


